<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google login</title>
</head>

<body>
    <div>
        <p>Redirecting to Google...</p>
    </div>
</body>
<script>
    const handleRedirect = async () => {
        try {
            const response = await fetch("<%= betterAuthURL %>/api/auth/sign-in/social", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    provider: "google",
                    callbackURL: "<%= callbackURL %>"
                })
            });
            const data = await response.json();
            if (data.url) {
                window.location.href = data.url
            } else {
                document.body.innerHTML = `
            <div>
                <p>Error occured while redirecting to Google. Please try again later
                    ${data.message || "Unknown error!"}
                </p>    
            </div>
            `
            }
        } catch (error) {
            document.body.innerHTML = `
            <div>
                <p>Error occured while redirecting to Google. Please try again later
                    ${error.message}
                </p>    
            </div>
            `
        }
    }
    handleRedirect()
</script>

</html>